*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[class*="col-"] {

    line-height: 50px;
}

.navbar{
    margin-bottom: 0;
    background-color: rgb(59, 1, 59);
}

.navbar-brand:hover{
    text-decoration: none;
    background-color: #eee;
}

.navbar-my-theme{
    color: white;
}

.row{
    margin: auto;
    color: white;
}

.white{
    color: white;
}

.black{
    color: black;
}

.hr-black{
    border-color: black;
}

.hero{
    background-color: #1abc9c;
}

.heroimg>img{
    height: 300px;
    object-fit: contain;
    margin-left: 50%;
    transform: translate(-50%);
}
.container{
    color: black;
}

.decoration{
    height: 50px;
}
.box>div>img{
    height: 200px;
    object-fit: contain;
    padding: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 10%;
}

.hr{
    padding-top: 6px;
}
.about{
    background-color: #1abc9c;
}

.about>.container>div>p{
    line-height: 30px;
    text-align: left;
    color: white;
}

.btn-download{
    background-color: #1abc9c;
    border: 1px solid white;
}
.text{
    height: 80px;
}

.form-control{
    box-shadow: none;
    text-align: left;
    border-top: none;border-left: none;
    border-right: none;
}

.left{
    text-align: left;
}

.up-footer{
    background-color: rgb(5, 5, 75);
    padding: 10px;
}

.social-img{
    height: 150px;
    margin-top: -92px;
    object-fit: contain;
    overflow: hidden;
}

.social{
    height: 40px;
    overflow: hidden;
}
.down-footer{
    background-color: rgb(4, 4, 47);
}

.stboot{
    color: #1abc9c;
}

/* * {
    border: 1px solid black;
} */

.divisore{
    height: 50px;
}

.center{
    margin-left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 50px;
}

.linea{
    width: 35%;
    position: absolute;
    top: 35%;
    height: 2px;
    border: 1px solid white;
}

.linea-right{
    right: 0%;
}
.linea2{
    width: 35%;
    position: absolute;
    top: 35%;
    height: 2px;
    border: 1px solid rgb(0, 0, 0);
}